{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="../static/css/after_game.css">
{% endblock %}
{% block content %}
    <section class="col-md-12 wrapper-section ">
        <div class="title">
            {{ winner }} won!
        </div>
        <div class="table-wrapper">
            <div class="duration">
               Duration: {{ duration }}
            </div>
            <table>
                <tr>
                   <th rowspan="3">{{ player1_username }}:</th>
                    <td>Total shots: {{ player1_totalShots }}</td>
                </tr>
                <tr>
                    <td>Hit shots: {{ player1_hitShots }}</td>
                </tr>
                <tr>
                    <td>Number of shield activations: {{ player1_shieldActivation}}</td>
                </tr>
                <tr>
                    <th rowspan="3">{{ player2_username }}:</th>
                    <td>Total shots: {{ player2_totalShots }}</td>
                </tr>
                <tr>
                    <td>Hit shots: {{ player2_hitShots }}</td>
                </tr>
                <tr>
                    <td>Number of shield activations: {{ player2_shieldActivation}}</td>
                </tr>

            </table>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="col-md-3 col-md-offset-1"><a href="{{ url_for('main.play') }}"><button class="btn-main">Play</button></a></div>
                <div class="col-md-3 col-md-offset-3"><a href="{{ url_for('game.meatballs_game') }}"><button class="btn-main">Play again</button></a></div>
            </div>
        </div>
    </section>

{% endblock %}
