{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game/game.css') }}">
{% endblock %}
{% block js_imports %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket_events.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game/game_model.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game/game_help.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game/game.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="game-section col-md-12">
    <div class="row">
        <div class="game-wrapper">

            <div id="connection-messages">
                <p id="player-waiting" class="title loading">Waiting for connection</p>
                <p id="game-warning" class="title"></p>
                <p id="player-status" class="title"></p>
            </div>

            <div id ="game-box">
                <div id="general-stuff">
                    <!--General Stuff -->
                    <div id="timer"></div>
                    <div id="message">Mesaj de Avertizare</div>
                    <div id="gravity-bars">
                        <span class="gravity-text">gravity</span>
                    </div>
                    <!-- Power Animantion -->
                    <div id="power"><div id="current-power"></div></div>
                </div>

                <div id="team-one">
                    <div id="my-stats">
                        <!--Current player's Stats-->
                        {% block stats %}
                            <div class="username">username</div>
                            <div class="health"><div class="current-health"></div></div>
                            <div class="cooldown"><div class="current-cooldown"></div></div>
                            <div class="shield"><div class="current-shield"></div></div>
                        {% endblock %}
                    </div>
                    <div class="tank-container" id="my-tank">
                        <!--Current player's Tank-->
                        {% block tank %}
                            <div class="missile"></div>
                            <div class="tank-wrapper">
                                <div class="cannon-wrapper">
                                    <div class="cannon"></div>
                                </div>
                                <div class="tank-body"></div>
                            </div>
                            <div class="defense"></div>
                            <div class="hit-shadow"></div>
                        {% endblock %}
                    </div>
                </div>

                <div id="team-two">
                    <div id="enemy-stats">
                        <!--Enemy player's stats-->
                        {{ self.stats() }}
                    </div>
                    <div class="tank-container" id="enemy-tank">
                        <!-- Enemy player's tank -->
                        {{ self.tank() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
