{% extends "base.html" %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="../static/css/auth/login.css">
{% endblock %}
{% block content %}
<section class="login-section">
    <h1 class="title">Please login, stranger!</h1>
    <form class="login-form"  method="post" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        {{ form.username(size=30,placeholder="username") }}
        {% for error in form.username.errors %}
            <li class="field-error">{{ error }}</li>
        {% endfor %}

        {{ form.password(size=30,placeholder="password") }}
        {% for error in form.password.errors %}
            <li class="field-error">{{ error }}</li>
        {% endfor %}

        {% if error %}
            <p class="field-error">{{ error }}</p>
        {% endif %}
        <div>
            <p class="message">Not registered? <a href="{{ url_for('auth.register') }}">Create an account here</a></p>
            <div class="form-bottom">
                <button class="btn-main" id="btn-login" type="submit">Login</button>
            </div>
        </div>
    </form>

</section>
{% endblock %}
