.tank-container {
    bottom: 0;
    position: absolute;
}

#my-tank .missile,
#enemy-tank .missile{
    height: 15px;
    width: 15px;
    border-radius: 7px;

    display: none;
    position: fixed;
}

#my-tank .missile {
    background: url("../../resources/img/my_ball.png");
}

#enemy-tank .missile {
    background: url("../../resources/img/enemy_ball.png");
}

.cannon-wrapper {
    background: transparent;
    border-radius: 5px;
    height: 100px;
    width: 11px;

    bottom: 3px;
    position: absolute;
}

.cannon {
    background: url("../../resources/img/cannon.png");
    height: 50px;

    left: 2px;
    position: relative;
    top: 0;
    z-index: 0;
}

.tank-body {
    height: 60px;
    width: 100px;
    background: url("../../resources/img/tank.png");

    position: relative;
}

.defense {
    height: 120px;
    width: 200px;
    background: transparent;
    position: absolute;
    bottom: 0;
    border-top: 5px solid green;
    display: none;
    /*defense shadow*/
    -webkit-box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
    -moz-box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
    box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
}
/*end of general tank (body+cannon) */

#my-tank {
    left: 0;
}

#enemy-tank {
    right: 0;
}

#my-tank .cannon-wrapper {
    right: 0;
}

#enemy-tank .tank-body {
    transform: scaleX(-1);
    filter: FlipH;
    background: url("../../resources/img/tank.png");
}

#my-tank .defense {
    border-top-right-radius: 100px;
}
#enemy-tank .defense {
    border-top-left-radius: 100px;
    right: 0;
}
