.statistics {
    font-size: 18px;
    color: rgb(37, 40,57);
}

.player {
    font-size: 22px;
    color: rgb(37, 40,57);
}

.empty {
    min-height: 20px;
}

.stats-wrapper {
    margin-bottom: 40px;
}

.title-wrapper {
    margin-bottom: 40px;
}

.wrapper-section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
