.game-section {
    position: relative;
    top: 48%;
    transform: translateY(-50%);
}

.box-game p {
    margin: 0;
}

.title {
    position: relative;
    top: 20px;
}

/* general layout and design settings */
#game-box {
    width: 1200px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    margin:0 auto;
    background: lightblue;
}

#timer {
    position: absolute;
    right: 50%;
    top: 5%;
    font-weight: bold;
}

#message {
    position: absolute;
    right: 45%;
    top: 50%;
    font-size: 20px;
    color: red;
    font-weight: bold;
}

#gravity-bars {
    display: inline-block;
    height: 30px;
    width: 250px;
    position: absolute;
    top: 15%;
    right: 37%;
}

#gravity-bars .bar {
    width: 4%;
    margin-left: 0.2%;
    display: inline-block;
    border: 0.5px solid grey;
}

.unu  { height: 9%; }
.doi { height: 18%; }
.trei  { height: 27%; }
.patru { height: 36%; }
.cinci  { height: 45%; }
.sase  { height: 54%; }
.sapte { height: 63%; }
.opt  { height: 72%; }
.noua { height: 81%; }
.zece  { height: 90%; }
.unspe { height: 99%;}

.on { background: red; }
.off { background: transparent; }
/* end of general layout and design settings */

/* current player's stats */
#my-username {
    margin: 10px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

#my-health {
    width: 200px;
    border: 1px solid grey;
    margin: 10px;
    position: absolute;
    top: 30px;
    left: 10px;
}

#my-current-health {
    width: 40%;
    background: red;
}

#my-cooldown {
    width: 200px;
    border: 1px solid grey;
    margin: 10px;
    position: absolute;
    top: 60px;
    left: 10px;
}

#my-current-cooldown {
    width: 100%;
    background: blue;
}

#my-shield {
    width: 200px;
    border: 1px solid grey;
    margin: 10px;
    position: absolute;
    top: 90px;
    left: 10px;
}

#my-current-shield {
    width: 100%;
    background: green;
}
/* end current player's stats */

/* current player's tank (body+cannon) */
#my-missile {
    height: 10px;
    width: 10px;
    position: absolute;
    background: blue;
    border-radius: 7px;
}

#my-cannon{
    background: blue;
    border-radius: 5px;
    width: 10px;
    height: 100px;

    position: absolute;
    left: 90px;
    top: 393px;
}

#my-body {
    height: 60px;
    width: 100px;
    background: green;
    position: absolute;
    bottom:0;
}
#my-defense {
    height: 120px;
    width: 200px;
    background: transparent;
    position: absolute;
    bottom:0;
    border-top: 5px solid green;
    border-top-right-radius: 100px;
    display: none;
    /*defense shadow*/
    -webkit-box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
    -moz-box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
    box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
}
/*end of current player's tank (body+cannon) */


/* enemy player's stats */
#enemy-username {
    margin: 10px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

#enemy-health {
    width: 200px;
    border: 1px solid grey;
    margin: 10px;
    position: absolute;
    top: 30px;
    right: 10px;
}

#enemy-current-health {
    width: 100%;
    background: red;
}

#enemy-cooldown {
    width: 200px;
    border: 1px solid grey;
    margin: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
}

#enemy-current-cooldown {
    width: 70%;
    background: blue;
}

#enemy-shield {
    width: 200px;
    border: 1px solid grey;
    margin: 10px;
    position: absolute;
    top: 90px;
    right: 10px;
}

#enemy-current-shield {
    width: 100%;
    background: green;
}
/* end of enemy player's stats */

/* enemy player's tank (body+cannon) */
#enemy-missile {
    height: 10px;
    width: 10px;
    position: absolute;
    background: red;
    border-radius: 7px;
}
#enemy-cannon{
    background: red;
    border-radius: 5px;
    width: 10px;
    height: 100px;

    position: absolute;
    right: 90px;
    top: 395px;
}
#enemy-body {
    height: 60px;
    width: 100px;
    background: green;
    position: absolute;
    bottom:0;
    right:0;
    border-radius:5px;
}
#enemy-defense {
    height: 120px;
    width: 200px;
    background: transparent;
    position: absolute;
    bottom:0;
    right:0;

    border-top: 5px solid green;
    border-top-left-radius: 100px;
    display: none;
    /*defense shadow*/
    -webkit-box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
    -moz-box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
    box-shadow: 1px -51px 89px -3px rgba(0,255,51,1);
}
/*end of current player's tank (body+cannon) */

/* power progress bar */
#power {
    width: 300px;
    height: 10px;
    border: 1px solid grey;
    display: none;
    position: absolute;
}
#current-power {
    width: 10%;
    height: 100%;
    overflow: hidden;
    background: red;
}

@keyframes changewidth {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}

div#current-power {
    background: red;
    animation-duration: 1.5s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

