.btn-index {
        text-decoration: none;
}

p.index {
    text-indent: 25px;
    text-align: center;
    font-size: 135%;
    margin-bottom: 75px;
}

.index-section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
