.login-form {
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    height: 270px;
    max-width: 360px;

    margin: 0 auto 100px;
    position: relative;
    padding: 45px;
    z-index: 1;
}

.login-form input{
    border: none;
    border-bottom: 1px solid #89E189;
    color: #243C24;
    outline: none;
    text-align: center;
    width: 100%;

    margin: 0 0 20px 0;
}

.login-form input:focus {
    border-bottom: 3px solid #4B7B4B;

    margin: 0 0 18px 0;
}

#btn-login {
    width: 100%;
}

.login-form .message {
    margin: 15px 0px 0px 5px;

    color: black;
    font-size: 14px;
    text-align: center;
}

.login-form .message a {
    color: #243C24;
    text-decoration: none;
}
