.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 260px; /*button bug fixed - form was getting smaller as the button was pressed*/
}

.login-form input{
    width: 100%;
    border: none;
    margin: 0 0 20px 0;
    outline: none;
    color: #243C24;
    text-align: center;
    border-bottom: 1px solid #89E189;
}

.login-form input:focus {
    margin: 0 0 18px 0;
    border-bottom: 3px solid #4B7B4B;
}

.btn-login {
    width: 100% !important;
}

.form-bottom {
    bottom: 15px;
    position: absolute;
}

.login-form .message {
    margin: 15px 0px 0px 5px;
    color: black;
    font-size: 14px;
    text-align: center;
}

.login-form .message a {
    color: #243C24;
    text-decoration: none;
}
