.online-players {
    background: rgb(37, 40, 57);
    box-shadow: 1px 2px 5px 2px gray;
    color: #fff;
}

.online-players ul {
    position: relative;
    padding: 0;
    overflow-y: scroll;
}

.online-players li {
    width: 150px;
    margin: 0 auto;
    list-style-type: none;
}

.online-players .games {
    float: right;
}

#btn-play {
        width: 300px;

        margin-top: 50px;
        margin-left: 50px;
}

.play {
    font-size: 25px;
    font-weight: 900;

    color: rgb(37, 40, 57);

    margin: 20px 0 20px 0;
}

.rules-title{
    padding: 0;
}

ul {
  margin: 0;
  font-size: 150%;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.play-section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
