.register-form {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register-section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.my-title {
    color: rgb(37, 40, 57);
    font-size: 35px;
    font-weight: 400;
    text-align: center;

    margin: 10px 0 10px 0;

}

.register-form input {
    margin: 15px 3% 12px 3%; /*when input is out of focus, bottom margin is 12px*/
    outline: none;
    border: none;
    width: 90%;
    color: rgb(42, 42, 42);
    text-align: center;
    border-bottom: 0.5px solid rgb(242, 182, 50);
}

.register-form input:focus {
    margin: 15px 3% 10px 3%; /*when input is focused, bottom margin is 10px to make room for border*/
    border-bottom: 3.5px solid rgb(242, 182, 50);
}

#btn-register {
    width: 100%;
    margin: 10px 0 15px 0;
}

.btn-register:active {
    margin: 4px 2% 8px 1%;
    border-color: rgba(37, 40, 57, 0.9);
}

.register-error {
    margin-right: 50%;
    display: block;
}
