<html>
<head>
    {% if title %}
    <title>{{ title }} - Meatballs Game</title>
    {% else %}
    <title>Welcome to Meatballs!</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/bootstrap.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    {% block imports %}
    {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    {% block js_imports %}
    {% endblock %}

</head>
<body class="no-select">
    <header>
        <h1 class="heading">meatballs</h1>
        <nav class="menu" >
            <ul >

            <li><a href="/">Home</a></li>

            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.logout') }}">Logout({{ current_user.username }})</a></li>
                <li><a href="{{ url_for('user.user_profile', username=current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('main.rules') }}">Rules</a></li>
            {% endif %}
                <li><a href="{{ url_for('game.meatballs_game') }}">Play</a></li>

            </ul>
        </nav>
    </header>
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <p class="footer-text">Copyright &copy; Pythonidae - Yonder Internship</p>
    </footer>
</body>
</html>
