<html>
<head>
    {% if title %}
    <title>{{ title }} - Meatballs Game</title>
    {% else %}
    <title>Welcome to Meatballs!</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block imports %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul style="list-style:none;">

            <li style="display:inline;margin:10px;"><a href="/">Home</a></li>

            {% if not current_user.is_authenticated %}
                <li style="display:inline;margin:10px;"><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li style="display:inline;margin:10px;"><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% else %}
                <li style="display:inline;margin:10px;"><a href="{{ url_for('auth.logout') }}">Logout({{ current_user.username }})</a></li>
            {% endif %}

            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer style="bottom: 0;position: fixed">
        <p>Copyright &copy; 2016 - Meatballs</p>
    </footer>
</body>
</html>
